
<table class="table">
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag(user, :pro_image, :fill, 100, 100, fallback: "登録のピクトアイコン1.jpeg", size: "50x50") %>
              <%= user.name %>
            <% end %>
            <div>
              <%= user.introdution %>
            </div>
            <!-- フォローボタン -->
            <% if current_user != user %>
              <% if current_user.following?(user) %>
                <%= link_to user_relationships_path(user.id), method: :delete, remote: true do %>
                  <button class="btn btn-default"><%= icon('fas', 'user-check') %>フォローを外す</button>
                <% end %>
              <% else %>
                <%= link_to user_relationships_path(user.id), method: :post, remote: true do %>
                  <button class="btn btn-default"><%= icon('fas', 'user-plus') %>フォローする</button>
                <% end %>
              <% end %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate users, class: "paginate" %>
</table>