<div class="col-md-4">
    <div class="profile">
      <%= attachment_image_tag(user, :pro_image, :fill, 200, 200, fallback: "登録のピクトアイコン1.jpeg", size: "200x200") %>
    </div>
    

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><label>ニックネーム</label></td>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <td><label>メールアドレス</label></td>
          <td><%= user.email %></td>
        </tr>
      </tbody>
    </table>
    <% if current_user == user %>

      <%= icon('fas', 'cog') %>
      <%= link_to "登録情報の変更", edit_user_path(user) %>

      <%= link_to "退会する", withdraw_user_path(user), class: "btn btn-danger" %>

      <div class="posts-new-button">
        <%= link_to new_post_path do %>
          <button class="btn btn-info"><%= icon('fas', 'plus') %> 記事を作成する</button>
        <% end %>
      </div>
    <% end %>

    <!-- フォローボタン -->
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォローを外す', user_relationships_path(user.id), method: :delete %>
      <% else %>
        <%= link_to 'フォローする', user_relationships_path(user.id), method: :post %>
      <% end %>
    <% end %>

  </div>
