<div class="col-sm-4">
    <div class="profile">
      <%= attachment_image_tag(user, :pro_image, :fill, 200, 200, fallback: "登録のピクトアイコン1.jpeg", size: "200x200") %>
    </div>
    

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><label><%= user.name %></label></td>
        </tr>
        <tr>
          <td><%= user.introdution %></td>
        </tr>
      </tbody>
    </table>
    <% if current_user == user %>
      <div class="posts-new-button">
        <%= link_to new_post_path do %>
          <button class="btn btn-info"><%= icon('fas', 'plus') %> 記事を作成する</button>
        <% end %>
      </div>
    <% end %>

    <!-- フォローボタン -->
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <%= link_to user_relationships_path(user.id), method: :delete do %>
          <button class="btn btn-default"><%= icon('fas', 'user-check') %>フォローを外す</button>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(user.id), method: :post do %>
          <button class="btn btn-default"><%= icon('fas', 'user-plus') %>フォローする</button>
        <% end %>
      <% end %>
    <% end %>

  </div>