<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="title-edit">登録情報変更</h1>

      <%= form_for(@user) do |f| %>
        <%= render "layouts/errors", obj: @user %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name , class: "form-control" %>
        </div>
        <div class="form-group">
           <%= f.label :email %>
           <%= f.email_field :email , class: "form-control" %>
        </div>
        <div class="form-group">
           <%= f.label :introdution %><span class="image-label-help">--任意</span>
           <%= f.text_area :introdution, class: "form-control", rows: "3" %>
        </div>
        <div class="form-group">
            <%= f.label :pro_image %><span class="image-label-help">--任意</span>
            <%= f.attachment_field :pro_image %>
        </div>
        <div class="action"><%= f.submit "変更する" , class: "btn btn-primary btn-block center-block" %></div>
      <% end %>
    </div>
  </div>
</div>
