
<div class="row">
  <h1>登録情報変更</h1>

  <%= render "layouts/errors", obj: @user %>

  <%= form_for(@user) do |f| %>
    <%= f.attachment_field :pro_image %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.submit "変更する" %>
  <% end %>
</div>
