<div class="container">
	<div class="row">

	<%= render "users/profile", user: @user %>

		<div class="col-sm-7">

			<div class="wrap">
				<ul class="nav nav-tabs nav-pills">
					<li><a href="#users-posts" data-toggle="tab" class="active">記事</a></li>
					<li><a href="#followings" data-toggle="tab">Follow</a></li>
					<li><a href="#bookmark" data-toggle="tab">ブックマーク</a></li>
					<% if @user == current_user %>
						<li><a href="#setting" data-toggle="tab">設定</a></li>
					<% end %>
				</ul>
			</div>

			<div class="tab-content">
					<div id="users-posts" class="tab-pane active">
						<%= render "posts/index", posts: @posts %>
					</div>

					<div id="followings" class="tab-pane">
						<div>
							<h3>フォロー中のユーザー</h3>
							<%= render "users/index" , users: @users %>
						</div>
						<div>
							<h3>フォロワー</h3>
							<%= render "users/index", users: @followers %>
						</div>
					</div>

					<div id="bookmark" class="tab-pane">
						<%= render "posts/index", posts: @favorites %>
					</div>

					<div id="setting" class="tab-pane">
						<%= render "users/settings", user: @user %>
					</div>

			</div>
		</div>
	</div>
</div>