<div class="container">
  <div class="row">
    <div class="center-block">
      <div class="box">

        <h2 class="app_title"><strong>Caretool</strong></h2>
        <div class="col-xs-6 col-xs-offset-3">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , :placeholder => "メールアドレス" , class: "form-control" %><br>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password" , :placeholder => "パスワード" , class: "form-control" %>
              <span id="helpBlock" class="help-block">パスワードは半角英数で入力して下さい。</span>
            </div>

            <div class="actions">
              <%= f.submit "ログイン" , class: "btn btn-primary" %>
            </div>
          <% end %>

          <div class="sesseion-link"><span>会員登録がお済みでない方は<%= link_to "こちら", new_user_registration_path %></span></div>
        </div>
      </div>
    </div>
  </div>
</div>