<h1>記事一覧</h1>

<%= link_to "記事を作成する", new_post_path %>

<table>
	<tbody>
		<% @posts.each do |post| %>
		<tr>
			<td>
				<%= link_to user_path(post.user) do %>
					<%= attachment_image_tag(post.user, :pro_image, :fill, 50, 50, fallback: "登録のピクトアイコン1.jpeg", size: "50x50") %>
					<%= post.user.name %>
				<% end %>
			</td>

			<td>
				<%= link_to post.title , post_path(post) %>
			</td>

			<td>
				<%= post.post_comments.count %>
			</td>

			<td>
				<i class="fas fa-heart"></i>
				<i class="far fa-heart"></i>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

