<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Caretool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/header" , search: @search %>

    
      <%= yield %>
    

    <footer>
      <div class="container">
        <div class="row">
          <span><%= link_to "トップページ", home_top_path %></span>
        </div>
      </div>
    </footer>
  </body>
</html>
